# Basics of logistic regression

## Import the relevant libraries

In [2]:
import numpy as np
import pandas as pd
import statsmodels.api as sm
import matplotlib.pyplot as plt
import seaborn as sns
sns.set()

## Load the data

In [3]:
raw_data = pd.read_csv('2.01. Admittance.csv')

In [5]:
data = raw_data.copy()
data['Admitted'] = data['Admitted'].map({'Yes':1,'No':0})
data

      SAT  Admitted
0    1363         0
1    1792         1
2    1954         1
3    1653         0
4    1593         0
5    1755         1
6    1775         1
7    1887         1
8    1893         1
9    1580         0
10   1857         1
11   1880         1
12   1664         1
13   1364         0
14   1693         0
15   1850         1
16   1633         0
17   1634         0
18   1636         1
19   1855         1
20   1987         1
21   1997         1
22   1422         0
23   1508         0
24   1720         1
25   1879         1
26   1634         1
27   1802         1
28   1849         1
29   1764         1
..    ...       ...
138  1412         0
139  1557         0
140  1821         1
141  1760         1
142  1685         1
143  1773         1
144  1826         1
145  1565         0
146  1510         0
147  1374         0
148  1402         0
149  1702         1
150  1956         1
151  1933         1
152  1832         1
153  1893         1
154  1831         1
155  1487         0
156  2041         1
157  1850         1
158  1555         0
159  2020         1
160  1593         0
161  1934         1
162  1808         1
163  1722         1
164  1750         1
165  1555         0
166  1524         0
167  1461         0

[168 rows x 2 columns]

## Declare the dependent and the independent variables

In [7]:
y = data['Admitted']
x1 = data['SAT']

## Regression

In [8]:
x = sm.add_constant(x1)
reg_log = sm.Logit(y,x)
results_log = reg_log.fit()

Optimization terminated successfully.
         Current function value: 0.137766
         Iterations 10

In [9]:
results_log.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                           Logit Regression Results
==============================================================================
Dep. Variable:               Admitted   No. Observations:                  168
Model:                          Logit   Df Residuals:                      166
Method:                           MLE   Df Model:                            1
Date:                Sat, 15 Dec 2018   Pseudo R-squ.:                  0.7992
Time:                        23:13:59   Log-Likelihood:                -23.145
converged:                       True   LL-Null:                       -115.26
                                        LLR p-value:                 5.805e-42
==============================================================================
                 coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------
const        -69.9128     15.737     -4.443      0.000    -100.756     -39.070
SAT            0.0420      0.009      4.454      0.000       0.024       0.060
==============================================================================

Possibly complete quasi-separation: A fraction 0.27 of observations can be
perfectly predicted. This might indicate that there is complete
quasi-separation. In this case some parameters will not be identified.
"""