# Understanding Logistic Regression Tables

Using the same code as in the previous exercise, try to interpret the summary table.

### More information about the dataset: 
Note that <i> interest rate</i> indicates the 3-month interest rate between banks and <i> duration </i> indicates the time since the last contact was made with a given consumer. The <i> previous </i> variable shows whether the last marketing campaign was successful with this customer. The <i>March</i> and <i> May </i> are Boolean variables that account for when the call was made to the specific customer and <i> credit </i> shows if the customer has enough credit to avoid defaulting.

<i> Notes: 
    <li> the first column of the dataset is an index one; </li>
    <li> you don't need the graph for this exercise; </li>
    <li> the dataset used is much bigger </li>
</i>

## Import the relevant libraries

In [1]:
import pandas as pd
import statsmodels.api as sm
import matplotlib.pyplot as plt
import seaborn as sns
sns.set()

## Load the data

Load the ‘Bank_data.csv’ dataset.

In [2]:
raw_data = pd.read_csv('Bank-data.csv')

In [3]:
raw_data.head()

   Unnamed: 0  interest_rate  credit  march  may  previous  duration    y
0           0          1.334     0.0    1.0  0.0       0.0     117.0   no
1           1          0.767     0.0    0.0  2.0       1.0     274.0  yes
2           2          4.858     0.0    1.0  0.0       0.0     167.0   no
3           3          4.120     0.0    0.0  0.0       0.0     686.0  yes
4           4          4.856     0.0    1.0  0.0       0.0     157.0   no

In [4]:
data = raw_data.copy()
data['will_subscribe'] = data['y'].map({'yes':1,'no':0})
data.head()

,Unnamed: 0,interest_rate,credit,march,may,previous,duration,y,will_subscribe
0,0,1.334,0.0,1.0,0.0,0.0,117.0,no,0
1,1,0.767,0.0,0.0,2.0,1.0,274.0,yes,1
2,2,4.858,0.0,1.0,0.0,0.0,167.0,no,0
3,3,4.120,0.0,0.0,0.0,0.0,686.0,yes,1
4,4,4.856,0.0,1.0,0.0,0.0,157.0,no,0

### Declare the dependent and independent variables

Use 'duration' as the independent variable.

In [5]:
y = data['will_subscribe']
x1 = data['duration']

### Simple Logistic Regression

Run the regression.

In [6]:
x = sm.add_constant(x1)
reg_log = sm.Logit(y,x)
results_log = reg_log.fit()

Optimization terminated successfully.
         Current function value: 0.546118
         Iterations 7

### Interpretation

In [ ]:
results_log.sum